@model Application.ViewModel.ProjetoViewModel

@{
    ViewData["Title"] = "Detalhes";
}

<h1>Detalhes</h1>

<div>
    <h4>Projeto: @Model?.Nome</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Codigo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id_Tema)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tema.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id_Objetivo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Objetivo.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id_Financiamento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Financiamento.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClienteId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NomeCliente)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ResponsavelId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NomeResponsavel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ApoioId)
        </dt>
        <dd class="col-sm-10 ">
            @Html.DisplayFor(model => model.NomeApoio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Anexo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Anexo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
    <a asp-action="Index">Voltar</a>
</div>
