@model Application.ViewModel.ProjetoViewModel

@{
    ViewData["Title"] = "Editar";
}

<h1> Editar</h1>

<h4>Projeto: </h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Update" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Codigo" class="control-label"></label>
                <input asp-for="Codigo" readonly class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Id_Tema" class="control-label"></label>
                <select asp-for="Id_Tema" asp-items="@(new SelectList(ViewBag.Tema, "Id", "Nome"))" class="form-select"></select>
                <span asp-validation-for="Id_Tema" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Id_Objetivo" class="control-label"></label>
                <select asp-for="Id_Objetivo" asp-items="@(new SelectList(ViewBag.Objetivo, "Id", "Nome"))" class="form-select"></select>
                <span asp-validation-for="Id_Objetivo" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Id_Financiamento" class="control-label"></label>
                <select asp-for="Id_Financiamento" asp-items="@(new SelectList(ViewBag.Financiamento, "Id", "Nome"))" class="form-select"></select>
                <span asp-validation-for="Id_Financiamento" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="ClienteId" class="control-label"></label>
                <select asp-for="ClienteId" asp-items="@(new SelectList(ViewBag.Usuario, "Id", "Nome"))" class="form-select"></select>
                <span asp-validation-for="ClienteId" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="ResponsavelId" class="control-label"></label>
                <select asp-for="ResponsavelId" asp-items="@(new SelectList(ViewBag.Usuario, "Id", "Nome"))" class="form-select"></select>
                <span asp-validation-for="ResponsavelId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApoioId" class="control-label"></label>
                <select asp-for="ApoioId" asp-items="@(new SelectList(ViewBag.Usuario, "Id", "Nome"))" class="form-select"></select>
                <span asp-validation-for="ApoioId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Anexos" class="control-label"></label>
                <input asp-for="Anexo" type="file" name="anexos" class="form-control"/>
                <span asp-validation-for="Anexo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Cancelar</a>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

